<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SuiteTalkNS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <SuiteTalkNS.Properties.Settings>
            <setting name="SuiteTalkNS_com_netsuite_webservices_NetSuiteService"
                serializeAs="String">
                <value>https://webservices.netsuite.com/services/NetSuitePort_2024_2</value>
            </setting>
        </SuiteTalkNS.Properties.Settings>
    </applicationSettings>
</configuration>